#survey-form {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

header {
    font-family: 'sans-serif';
    margin: auto;
    width: 40%;
    border: 5px solid rgb(204, 29, 29);
    text-align: center;
}

#name, #email, #number {
    width: 50%;
}

#dropdown {
    width: 30%;
}
#textarea {
    margin-top: 2vh;
    width: 60%;
}

#submit {
    width: 10vw;
    margin-top: 2vh;
    align-self: center;
}